<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Abitur notlarını hızlıca hesaplama, NC notu hesaplama"
    />
    <meta
      name="keywords"
      content="Abitur, Abitur notu, NC hesaplama, numerus clasus, alman notları"
    />

    <title>
      Abitur notlarını kolay ve hızlı bir şekilde hesapla, NC puanını öğren....
    </title>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-BV51NSJQDV"
    script/>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BV51NSJQDV");
    </script>
    <!-- End of google analytics script-->



    <link  rel = "stylesheet"  href="{{url_for('static', filename='input_notes.css')}}"/>  


  </head>


  <body>

    <sec_0>
      <div id="arkalık">
        <p class="başlık">Abitur-Hesapla.gq</p>
      </div>

      <h1 class="header">Hoşgeldiniz,</h1>
      <p class="yazı">
        Abitur notunuzu hesaplamanın yeni (ve ilk) adresi. 11 ve 12. sınıf
        Abirelevant notlarınızı aşağıdaki forma girerek kolayca Endnote
        (NC)'nizi ögrenebilirsiniz. Bu NC notunu kullanarak Almanya'daki
        üniversitelerin başvuru gerekliliklerini kontrol edebilirsiniz.
      </p>
      <p class="yazı">
        Bu form Almanya'ya bağlı Auslandschule'lerin (Yurt dışı okulları)
        hesaplama cetveli göz önüne alınarak hazırlanmıştır*.
      </p>

      <div class="center_down">
      <span class="text">Hesaplamaya başlamak için aşağı kaydırın! </span>
      </div>


      <div class="container">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>

    </sec_0>
    <h1 class="header">Enter your Abitur notes:</h1>

    <a href="/rickroll">
      <img class = "iameg"
        src="{{url_for('static', filename='bestanden.jpg')}}"
        width="100"
        height="100"
      />
    </a>



    <form action="/results" , method="POST" , onsubmit="return validate()">

  <div class="main_column">
    <div class = "column" id = "group_1">
      <div class = "row">
        <div>
        <label for = "En1"> Englisch 11/1*</label>
        <input type="number" name="En1" required />
        </div>
        <div>
        <label for = "En2" >Englisch 11/2*</label>
        <input type="number" name="En2" required>
        </div>
        <div>
          <label for = "En3" >Englisch 11/3*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En4" >Englisch 11/4*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En5" >Englisch 12/1*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En6" >Englisch 12/2*</label>
          <input type="number" name="En3" required />
        </div>

        <div>
        <label for = "En7"> Englisch Abitur <br> Note*</label>
          <input
            type="number"
            name="En7"
            required
          />
        </div>

        <div>
          <label for = "En8" >Englisch 12/4*</label>
          <input type="number" name="En8" required /></p>
        </div>

      </div>
    


      <div class = "row">
        <div>
        <label for = "En1"> Englisch 11/1*</label>
        <input type="number" name="En1" required />
        </div>
        <div>
        <label for = "En2" >Englisch 11/2*</label>
        <input type="number" name="En2" required>
        </div>
        <div>
          <label for = "En3" >Englisch 11/3*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En4" >Englisch 11/4*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En5" >Englisch 12/1*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En6" >Englisch 12/2*</label>
          <input type="number" name="En3" required />
        </div>

        <div>
        <label for = "En7"> Englisch Abitur <br> Note*</label>
          <input
            type="number"
            name="En7"
            required
          />
        </div>

        <div>
          <label for = "En8" >Englisch 12/4*</label>
          <input type="number" name="En8" required /></p>
        </div>

      </div>

      <div class = "row">
        <div>
        <label for = "En1"> Englisch 11/1*</label>
        <input type="number" name="En1" required />
        </div>
        <div>
        <label for = "En2" >Englisch 11/2*</label>
        <input type="number" name="En2" required>
        </div>
        <div>
          <label for = "En3" >Englisch 11/3*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En4" >Englisch 11/4*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En5" >Englisch 12/1*</label>
          <input type="number" name="En3" required />
        </div>
        <div>
          <label for = "En6" >Englisch 12/2*</label>
          <input type="number" name="En3" required />
        </div>

        <div>
        <label for = "En7"> Englisch Abitur <br> Note*</label>
          <input
            type="number"
            name="En7"
            required
          />
        </div>

        <div>
          <label for = "En8" >Englisch 12/4*</label>
          <input type="number" name="En8" required /></p>
        </div>

      </div>

      </div>


      <div class = "column" id = "group_2">
        <div class = "row">
          <div>
          <label for = "En1"> Englisch 11/1*</label>
          <input type="number" name="En1" required />
          </div>
          <div>
          <label for = "En2" >Englisch 11/2*</label>
          <input type="number" name="En2" required>
          </div>
          <div>
            <label for = "En3" >Englisch 11/3*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En4" >Englisch 11/4*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En5" >Englisch 12/1*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En6" >Englisch 12/2*</label>
            <input type="number" name="En3" required />
          </div>
  
          <div>
          <label for = "En7"> Englisch Abitur <br> Note*</label>
            <input
              type="number"
              name="En7"
              required
            />
          </div>
  
          <div>
            <label for = "En8" >Englisch 12/4*</label>
            <input type="number" name="En8" required /></p>
          </div>
  
        </div>
      
  
  
        <div class = "row">
          <div>
          <label for = "En1"> Englisch 11/1*</label>
          <input type="number" name="En1" required />
          </div>
          <div>
          <label for = "En2" >Englisch 11/2*</label>
          <input type="number" name="En2" required>
          </div>
          <div>
            <label for = "En3" >Englisch 11/3*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En4" >Englisch 11/4*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En5" >Englisch 12/1*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En6" >Englisch 12/2*</label>
            <input type="number" name="En3" required />
          </div>
  
          <div>
          <label for = "En7"> Englisch Abitur <br> Note*</label>
            <input
              type="number"
              name="En7"
              required
            />
          </div>
  
          <div>
            <label for = "En8" >Englisch 12/4*</label>
            <input type="number" name="En8" required /></p>
          </div>
  
        </div>
  
        <div class = "row">
          <div>
          <label for = "En1"> Englisch 11/1*</label>
          <input type="number" name="En1" required />
          </div>
          <div>
          <label for = "En2" >Englisch 11/2*</label>
          <input type="number" name="En2" required>
          </div>
          <div>
            <label for = "En3" >Englisch 11/3*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En4" >Englisch 11/4*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En5" >Englisch 12/1*</label>
            <input type="number" name="En3" required />
          </div>
          <div>
            <label for = "En6" >Englisch 12/2*</label>
            <input type="number" name="En3" required />
          </div>
  
          <div>
          <label for = "En7"> Englisch Abitur <br> Note*</label>
            <input
              type="number"
              name="En7"
              required
            />
          </div>
  
          <div>
            <label for = "En8" >Englisch 12/4*</label>
            <input type="number" name="En8" required /></p>
          </div>
  
        </div>
  
        </div>

      <div class="column" id ="group_3">
        <div class="mundlich">
          <p class="mundlich">Schriftliche Abi*</p>
          <label for="sch_abi"></label>
          <select id="sch_abi" name="sch_abi">
            <option value="Phy">Physik</option>
            <option value="Bio">Biologie</option>
            <option value="Chemie">Chemie</option>
          </select>
          <p class="mundlich">1. Mündliche Abi*</p>
          <label for="mun_1"> </label>
          <select id="mun_abi" name="mun_abi">
            <option value="Phy">Physik</option>
            <option value="Bio">Biologie</option>
            <option value="Chemie">Chemie</option>
          </select>

          <p class="mundlich">2. Mündliche Abi</p>
          <label for="mun_2"> </label>
          <select id="mun2_abi" name="mun2_abi">
            <option value="non">Not selected</option>
            <option value="Phy">Physik</option>
            <option value="Bio">Biologie</option>
            <option value="Chemie">Chemie</option>
            <option value="En">Englisch</option>
            <option value="Deu">Deutsch</option>
            <option value="Mat">Mathematik</option>
          </select>

          <p>
            1. Mündliche Note*<input
              type="number"
              class="mundlich_in"
              name="Mun1"
              required
            />
          </p>
          <p>
            2.Mündliche Note<input
              type="number"
              class="mundlich_in"
              name="Mun2"
              id="mundlich_2"
            />
          </p>
        </div>
      </div>
      </div>
      <div class = "center">
      <input type="submit" value="Submit" class="send" />
      </div>

    </form>

    <p class="req">Fields with (*) are required</p>
    <p class="req">
      *Legal Disclaimer: Abitur not hesaplamada hatalar gerçekleşebilir.
      Abitur-Hesapla.gq bunun sonucunda oluşabilecek hiçbir sorunun mesuliyetini
      almamaktadır.
    </p>

    <script src="/input_notes.js"></script>
  </body>

</html>
